<section class="search-box-container">
<input #searchText type="search" placeholder="Search Planets By Title" (keyup.enter)="searchByCategory(searchText.value, 'planets')"/>
</section>

<section class="search-results-container">
    <ng-container *ngIf="(entertainmentItems$ | async) as dataList">
        <ng-container *ngFor="let data of dataList; trackByFn">
            <app-data-card [cardData]="data" (addToFavorite)="onAddToFavorite($event)"></app-data-card>
        </ng-container>
    </ng-container>
    <app-loader></app-loader>
</section>
