/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.custom-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    &:disabled {
        background-color: gray;
        cursor: not-allowed;
    }
}

.btn-black {
    @extend .custom-btn;
    background: black;
    color: white;   
}